h1 {
    padding: 0;
    margin-left: 100px;
    margin-right: 132px;
    text-align: center;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  	font-size: 72px;
  	font-variant: normal;
  	font-weight: 500;
    color: #3C3B6E;
    text-shadow: -1px 0 #B22234, 0 1px #B22234, 1px 0 #B22234, 0 -1px #B22234;
    border:3px solid #B22234;
}

h2 {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  	font-size: 36px;
  	font-variant: normal;
  	font-weight: 500;
    color: #B22234;
}


.qBox {
  width: 500px;
  height:100px;
  position: absolute;
  top: auto;
  left: 95px;
  border:3px solid #B22234;
  text-align: center;
  vertical-align: middle;
  line-height:100px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
  color:#FFFFFF;
  background-color: #3C3B6E;
  }

.aBox {
  width: 500px;
  height:100px;
  position: relative;
  top: 0px;
  left: 760px;
  border:3px solid #B22234;
  text-align: center;
  vertical-align: middle;
  line-height:100px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
  color:#FFFFFF;
  background-color: #3C3B6E;
        }
.button {
  display: inline-block;
  justify-content: center;
  margin-top: 30px;
  margin-left: 200px;
  font: bold 16px 'Helvetica Neue';
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}
